*{
  margin: 0;
  padding: 0;
  background-color: #1B1B1E;
}

.page-header {
  background-color: #96031A;
  box-sizing: border-box;
  height: 200px;
  margin: 0;
  padding: 0;
}

.imagen-principal-config{
  box-sizing: border-box;
  background-color:#96031A;
  width: 250px;
  margin-left: 800px;
  margin-top: 20px;
}

.nav-bar{
  overflow: hidden;
  background-color: #6D676E;
}

.nav-bar a{
  float: left;
  font-size: 19px;
  color: #FBFFFE;
  text-align: center;
  padding: 14px 16px;
  text-decoration:solid;
  margin: 0;
}

.movie-box{
  box-sizing: border-box;
  background-color: #FBFFFE;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 100px;
  height: 290px;
}

.imagen-congfig{
  box-sizing: border-box;
  width: 170px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}

.movie-description{
  color:#1B1B1E;
  background-color: #FBFFFE;
  padding-top: 25px;
  margin-left: 200px;
  font-size: 20px;
}

.buy-button{
  background-color: #FBFFFE;
  box-sizing: border-box;
  margin-top: 140px;
  margin-left: 200px;
}

.select-date{
  box-sizing: border-box;
  color: black;
  background-color:#FBFFFE;
  margin-top: -34px;
  margin-left: 350px;
  margin-bottom:0;
  }

  .select-date label{
    background-color:#FBFFFE;
  }

  .select-date select {
    background-color:#FBFFFE;
  }
  
  .select-date option {
    background-color:#FBFFFE;
  }

.movie-box-ticket{
  box-sizing: border-box;
  background-color: #FBFFFE;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  height: 500px;
}

