/* Main grid */
.login-content-grid{
  display: grid;
  grid-template-rows: 2fr 1fr;

  row-gap: 30px;

  margin-top: 40px;

  justify-content: center;
  align-items: center;
}

/* Main content boxes */
.login-content-flexbox{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 450px;
  height: 480px;

  border-radius: 8px;

  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  background-color: white;
}

.join-in-content-box{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 450px;
  height: 240px;

  border-radius: 8px;

  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  background-color: white;
}

/* Children content boxes of login */
.title-box{
  width: 100%;
  height: 20%;

  margin-top: 10px;

  background-color: #f8f8eb;
}

.description-box{
  width: 100%;
  height: 14%;

  margin-top: 0;
  background-color: #f8f8eb;
}

.mail-box, .password-box{
  width: 90%;
  height: 15%;

  margin-top: 18px;
  background-color: #fff;
}

.password-box{
  margin-top: 0;
}

.forgot-password-box{
  width: 90%;
  height: 4%;

  background-color: #fff;
}

.login-btn-box{
  width: 90%;
  height: 15%;

  display: flex;

  justify-self: center;
  align-items: center;

  text-align: center;

  margin-top: 30px;
  margin-bottom: 15px;
  background-color: #fff;
}

/* Content in child login box */

.title{
  text-align: center;
  font-size: 30px;
  font-weight: 700; 
  
  margin-top: 30px;
  margin-bottom: 20px;
}

.description{
  text-align: center;
  font-size: 14px;
  font-weight: 400;

  line-height: 1.5;

  margin: 0;
}

#email, #password{
  font-size: 20px;

  padding: 5px 10px;

  border-radius: 8px;
  border:none;
  outline: none;

  margin: 20px 60px;

  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  transition: outline .15s, padding .15s;
}

/* Search bars style */

#email::placeholder, #password::placeholder{
  font-family: Roboto, Arial;
  text-align: center;
  font-weight: 400;
  opacity: .7;
}

/* Search bars animation */
#email:hover, #password:hover{
  padding: 7px 12px;
  margin-left: 18px 60px;
  outline: 1px solid #979797;
}


.forgot-password-box{
  text-align: center;
}

.login-btn-box{
  display: flex;

  justify-content: center;
  align-items: center;
}

/**/
#forgot-password-link{
  text-decoration: none;
}

#forgot-password-text{
  font-size: 14px;
}

#login-btn{
  font-size: 20px;

  position: relative;
  
  padding: 10px 15px 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  transition: opacity .15s, background-color .15s, border .15s, font-aize .15s, box-shadow .15s;
}

#login-btn:hover{
  opacity: .7;
  background-color: #979797;
  border: 1px solid;
}

#login-btn:active{
  font-size: 19px;

  opacity: .7;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  
  background-color: #bdbdbd;
}

#user-icon{
  width: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
}



/* Children content boxes for join in box */
.subtitle-box{
  width: 100%;
  height: 20%;

  text-align: center;

  margin-top: 12px;
  background-color: #f8f8eb;
}

.subdescription-box{
  width: 100%;
  height: 25%;

  display: flex;
  justify-content: center;
  align-items: center;


  background-color: #f8f8eb;
}

.join-in-btn-box{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 30%;

  margin-top: 10px;
}

/* Content */
#subtitle{
  font-size: 22px;
  font-weight: 400;

  margin-top: 10px;

  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#subdescription{
  font-size: 14px;
  line-height: 1.5;

  margin-top: 5px;

  text-align: center;
}

#joining{
  font-size: 20px;

  position: relative;
  
  padding: 10px 15px 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  transition: opacity .15s, background-color .15s, border .15s, font-aize .15s, box-shadow .15s;
}

#joining:hover{
  opacity: .7;
  background-color: #979797;
  border: 1px solid;
}

#joining:active{
  font-size: 19px;

  opacity: .7;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  
  background-color: #bdbdbd;
}

#user-icon{
  width: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
}
