.container-grid{
    display: grid;
    grid-template-rows: 1fr;

    align-items: center;
    justify-content: center;

    margin-top: 100px;
}

.header-info-box{
    display: flex;
    flex-direction: column;

    width: 550px;
    height: 130px;
    

    background-color: #f8f8eb;
}

.cinemas-bucketin-box{
    display: flex;

    width: 550px;
    height: 500px;

    background-color: lightcoral;
}

/* ------------------------------------*/

#account-name, #mail-sample{
    margin: 0;
}

#account-name{
    font-size: 30px;
    margin: 15px 10px;

}

#mail-sample{
    font-size: 15px;
    margin: 5px 10px;
    font-weight: 400;
}

.logout-btn-box{
    display: flex;

    align-items: center;
    justify-content: right;
}

#logout{
    font-size: 20px;
    font-weight: 400;

    padding: 5px 10px;

    border: none;
    outline: none;
    cursor: pointer;

    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(201, 49, 49);

    margin-right: 10px;

    transition: opacity .15s border .15s background-color .15s
    font-size.15s;
}

#logout:hover{
    opacity: .9;
    padding: 4px 9px;
    border: 1px solid rgb(83, 19, 19);
    background-color: rgb(102, 23, 23);
}

#logout:active{
    font-size: 18px;
    padding: 5px 10px;
}
/*------------------------------------*/

